.edit-event-form input {
  width: 85%;
  border-radius: 8px;
  border: solid 1px;
  margin-bottom: 15px;
  font-size: 17px;
  box-sizing: border-box;
}
.edit-event-form textarea {
  width: 90%;
  border-radius: 8px;
  border: solid 1px;
  margin-bottom: 15px;
  font-size: 17px;
}

.edit-event-form .event-desc {
  display: flex;
  flex-direction: column;
}
.edit-event-form .event-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.edit-event-form .save-button {
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  background-color: #4caf50;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  margin: 0 0 10px;
}
.edit-event-form .save-button:disabled {
  background-color: #a5d6a7;
  cursor: default;
}
.edit-event-form p {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.event-desc .input-div {
  display: flex;
  gap: 5px;
  width: 100%;
}
.event-info .input-div {
  display: flex;
  gap: 5px;
}
.event-desc .date-picker {
  width: 161%;
}

