.input-container {
  position: relative;
  width: 100%;
}

.input[type="password"] {
    padding-right: 45px;
}
#password {
    margin-bottom: 5px;
}
#confirmPassword {
    margin-bottom: 5px;
}

.password-toggle {
  position: absolute;
  right: 10px;
  top: -1px;
  font-size: 26px;
  color: grey;
  cursor: pointer;
}
