.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 90%;
  max-width: 1000px;
}

.home-top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0;
}
.home-top-section img {
  width: 300px;
  height: 300px;
}

.opening-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  margin-right: 15px;
}
.opening-section h1 {
  font-size: 36px;
  line-height: 46px;
  margin: 0;
}
.opening-section p {
  font-size: 18px;
  margin: 20px 0 0;
}
.opening-section .button {
  margin: 20px 0 0;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  background-color: #4caf50;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  width: 75%;
}

.featured-events {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.featured-events h1 {
  font-size: 30px;
  margin: 10px 10px 0;
}


@media (max-width: 768px) {
  .home-page {
    width: 90%;
  }
  .home-top-section {
    flex-direction: column;
  }

  .opening-section {
    margin-bottom: 25px;
  }
}